{% extends 'base.html.twig' %}

{% block title %}Création action en masse{% endblock %}

{% block body %}    
    <div class="container-fluid">
        {{ form_start(form) }}
            <div class="row mb-2">
                <div class="col-sm-3" align="right">
                    <button type="submit" class="btn btn-info">Créer/Modifier</button>
                    <a class="btn btn-secondary" href="#">
                        Annuler
                    </a>
                </div>
            </div>

            <h3>Création/Modifier des actions :</h3>
        
            {#{{ form_row(form) }} {# affiche toutes les row #}
            <ul class="actions list-group list-group-flush" data-prototype="<div class='row'>
                <div class='col-sm-2 form-group'>
                    {{ form_row(form.lots.vars.prototype.children['taches'].vars.prototype.lot)|e('html_attr') }}
                </div>
                <div class='col-sm-2 form-group'>
                    {{ form_row(form.lots.vars.prototype.children['taches'].vars.prototype.children['actions'].vars.prototype.tache)|e('html_attr') }}
                </div>
                <div class='col-sm-2 form-group'>
                    {{ form_row(form.lots.vars.prototype.children['taches'].vars.prototype.children['actions'].vars.prototype.designation)|e('html_attr') }}
                </div>">
                {% for lot in form.lots %}
                    {% for tache in lot.taches %}
                        {% set lotInput = form_row(tache.lot) %}
                        {% for action in tache.actions %}
                            <li class="action list-group-item">
                                <div class="row">
                                    <div class="col-sm-2 form-group">
                                        {{ lotInput|raw }}
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        {{ form_row(action.tache) }}
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        {{ form_row(action.designation) }}
                                </div>                    
                            </li>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </ul>
            {{ form_row(form._token) }}
        {{ form_end(form , {'render_rest' : false}) }}
    </div>

{% endblock %}

{% block js %}
<script defer type="text/javascript" src="{{ asset('js/projet/createEditActionsByProject.js') }}"></script>
{% endblock %}