{% extends 'base.html.twig' %}

{% block title %}Création action en masse{% endblock %}

{% block body %}

    <div>
        <p>{{ projet.designation }}</p>

        <div>
        {% for lot in projet.lots %}
            <p>Lot {{ lot.numero }}</p>
            {% for tache in lot.taches %}
                <p>Tache {{ tache.numero }}</p>
                {% for action in tache.actions %}
                    <p>Action {{ action.designation }}</p>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>

{% endblock %}