<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('dist/bootstrap-4.4.1-dist/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
		<script src="{{ asset('dist/jquery/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('dist/bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block js %}{% endblock %}
    </body>
</html>
